<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings"
       type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="NutricionalApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   <section name="NutricionalAPP.Properties.Settings"
      type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false" />
		</sectionGroup>
	</configSections>

	<connectionStrings>
  <add name="NutricionalApp.Properties.Settings.ConnectionString"
   connectionString="Dsn=PostgreSQL35W" providerName="System.Data.Odbc" />
 </connectionStrings>
 <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<userSettings>
		<NutricionalApp.Properties.Settings>
   <setting name="Email" serializeAs="String">
    <value />
   </setting>
   <setting name="Senha" serializeAs="String">
    <value />
   </setting>
   <setting name="Checkbox" serializeAs="String">
    <value>False</value>
   </setting>
  </NutricionalApp.Properties.Settings>
	</userSettings>
 
</configuration>
